# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / VS Code
.idea/
.vscode/

# macOS / Linux / Windows
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
._*
.Spotlight-V100
.Trashes

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

# Environment variables or secrets
.env
.env.*

# SQLite database
*.sqlite3
*.db